

    button {
        
        height: 60px;
        width: 300px;
        background: #6f2c6f;
        color: white;
        font-size: 1em;
        cursor: pointer;
        transition: all ease 1.6s;
        border: none;
        span {
            transition: all ease .4s;
        }
        &:hover {
            transition: all ease .6s;
            background: #deafde;
            
            
        }
        &:disabled {
            background: grey;
            color: white;
            cursor: default;
            &:hover {
                letter-spacing: inherit;
            }
        }
    }
    button.secondary {
        background: #2c6f52;
        &:hover {
            background: #235841;
            color: #eeffdd;
        }
    }

    
.alright {
    letter-spacing: 1px;
}
.wide {
    letter-spacing: 3px;
    font-size: 1.2em;
    transition: all cubic-bezier(0.08, -0.07, 1, 2.45) .4s;

    color: #484848;
    text-shadow: rgba(0, 0, 0, 0.55) 2px 3px 6px;
    background: transparent;
}

    @keyframes spin { 
        from { 
            transform: rotateZ(0deg); 
        } to { 
            transform: rotateZ(90deg); 
        }
    }

       @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }